input[type="text"]:focus , input[type="password"]:focus,input[type="email"]:focus{
    outline: none;
    border: none;
}

.accordion-class:hover{
    background-color: rgb(58,177,155);
    color:white;
}
.navbar-header{
    box-shadow: 5px 5px 5px antiquewhite;
}
.complaint-btn{
    margin-right: 1rem;
    background: "rgb(58,177,155)";
    font-weight: 600;
}
.complaint-btn:hover{
    background: white;
    border-color:"rgb(58,177,155)";
    color:"rgb(58,177,155)";
}
#new-complaint {
    background-color: rgb(58,177,155) !important;
    font-weight: 600 !important;
    margin-right: 1rem !important;
    border: none ;
}
#new-complaint:hover {
    background-color: white !important;
    border: 1px solid;
    border-color:rgb(58,177,155) !important;
    color:rgb(58,177,155) !important;
}
.items {
    margin-bottom: 1rem;
  }